<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
<!-- <app-appC></app-appC> -->
<!-- <app-basend></app-basend>  -->
<!-- <app-app-c></app-app-c> -->
<!-- <app-form-ctrl></app-form-ctrl> -->
<!-- <h1>Hello World</h1>
<button class="btn btn-info">Button</button>
<button type="button" class="btn btn-danger">Danger</button> -->
<!-- <app-blog-list></app-blog-list> -->
<!-- <h1>I am a Parent</h1>-->
<app-output-decorator [master]="master" (valueChange)='displayChildMess($event)'></app-output-decorator>
<!-- <app-host-example></app-host-example> -->
</body>
</html>